@import './variables';
@import './mixins';

form {
    margin: 5rem 20rem;
    // width: 100%;

    @include respond(tab-port){
        margin: 3rem 10rem;
    }

    @include respond (phone){
        margin: 3rem 1.5rem;
        width: 100%;
    }
}

form input {
    width: 15%;
    margin-right: 3rem;
    font-size: 1.7rem;
    border: .1rem solid $color-grey-light;
    outline: none;
    padding: .7rem 2rem;
    border-radius: 5%;
    background-color: $color-white;

    @include respond(tab-port){
        width: 20%;
    }

    @include respond (phone){
        width: 20%;
    }
}

form button {
    width: 15%;
    background-color: $color-primary;
    color: $color-white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    padding: .7rem 0;
    border-radius: 5%;

    @include respond(tab-port){
        width: 20%;
    }

    @include respond (phone){
        width: 20%;
    }
}

.heading {
    color: $color-grey;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}